body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  padding: 30 30 30 30;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.cell {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}
